<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPractise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F524AFA31DB85FE100ED6069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F524AFB71DB85FE100ED6069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F524AFC21DB85FE100ED6069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
